*{
    margin : 0;
}

body{
    font-family: 'Roboto', sans-serif;

}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    top: 0;
    

}
.navbar-container{
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
    height: 50px;
    color: white;
    padding: 0px 50px;  /* from top ti should be zero */
    
}
.logo-container{
    flex : 1;
    color: rgba(255, 0, 0, 0.863);
    font-size: 20px;
    /* font-weight: bold; */
    font-family: 'Sen', sans-serif;
    
}
.menu-container{
    flex :6;
    color: white;
    /* font-size: 20px; */
    /* font-weight: bold; */
    font-family: 'Sen', sans-serif;
}
.menu-list{
    display: flex;
    list-style: none;
}
.menu-list-items{
    margin-right: 20px;
}
.menu-list-items.active{
font-weight: bold;
    
}
.profile-container{
    flex : 2;
    /* font-size: 20px; */
    color: white;
    /* font-weight: bold; */
    font-family: 'Sen', sans-serif;
    display: flex;
    align-items: center;
}
.profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-text-container{
    margin: 0 20px;

}
.toggle{
    width: 40px;
    height: 20px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.toggle-icon{
    
    color: goldenrod;
}
.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    right : 1px;
    cursor: pointer;
}
.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    align-items: center;
}
.sidebar-menu-icons{
    
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
 
}
.container{
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}
.content-container{
    margin-left: 50px;
}
.featured-content{
    height: 40vh;
    padding: 50px
    /* background-color: tomato; */
   
}
.featured-title{
    width: 200px;
    
}
.featured-text{
    width: 500px;
    margin: 30px 0;
  
}
.featured-button{
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(255, 0, 0, 0.863);
    font-weight: bold;
    cursor: pointer;
    
}
.movie-list-container{
    padding: 0 15px;
    /* background-color: blue; */
}
.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
    transition: 1s all in ease-in-out;
    transform: translateX(0);
    
}

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
  
    /* background-color: aquamarine; */
}
.movie-list-item{
    margin: 15px;
    position: relative;
}
.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0px 30px;
    opacity: 0.5;
}
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-text,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}
.movie-list-item-img{
    transition: 1s all in ease-in-out;
    height: 200px;
    width: 250px;
    border-radius: 20px;
    object-fit: cover;
}
.movie-list-item-title{
    font-weight: bold;
    background-color:#151515 ;
    font-size: 32px;
    border-radius: 10px;
    position: absolute;
    padding: 0px 15px;
    top : 15px;
    left: 40px;
    opacity: 0;

}
.movie-list-item-text{
    
    background-color:#151515;
    
    position: absolute;
    padding: 0px 15px;
    border-radius: 10px;
    width: 200px;
    top : 65px;
    left: 40px;
    opacity: 0;

}
.movie-list-item-button{
    background-color: rgba(245, 6, 6, 0.959);
    outline: none;
    border: none;
    color: white;
    bottom: 28px;
    left: 40px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    opacity: 0;
}
.arrow{
   font-size: 240px;
   position: absolute;
   top: 30px;
   right: 0px;
   color: lightgray;
   opacity: 0.55;
   cursor: pointer;
}